PREFIX="Prefix the bot should listen to (e.g., ?, $)"
BOT_TOKEN="OAuth token for the bot"
LOG_LEVEL="Logging level name (e.g., DEBUG, INFO, WARNING, ERROR, CRITICAL)"
LOG_FILE_PATH="Path to the log file (e.g., logs/royaleX.log)"
